{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">File Upload</h1>

{% include 'flash_messages.html' %}

{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"> 

  {{ myform.csrf_token }}

  {# Add the file upload field as you learnt for Flask-WTF #}

  <h5> upload jpg and png files only </h5>

  <div class="form-group mb-3">
      {{ myform.photofile.label(class="form-label") }}
      {{ myform.photofile(class="form-control") }}
  </div>
  <button type="submit" name="submit" class="btn btn-primary">Upload file</button>
</form>
{% endblock %}
